header {
  text-align: center;
  padding: 1em;
}

h1 {
  margin: 0;
}

form {
  width: 300px;
  margin: auto;
  display: block;
  text-align: center;
}

form label {
  margin-top: .2em;
  margin-bottom: .2em;
  display: block;
}

form input {
  width: 93%;
}

form button {
  width: 100px;
  margin: .5em 0;
  height: 2.5em;
}

